.container {
    position: relative;
    color: black;
    height: 400px;
    width: 200px;
}

.backgroundphoto {
    height: 400px;
    width: 200px;
}

.odin-logo {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 25%;
    left: 0;
    opacity: 0.8;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: white;
    font-size: 8px;
}