body {
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    color: #000000;
    height:400px;
    width: 200px;
}

.backgroundphoto {
    height: 400px;
    width: 200px;
}

.odin-logo {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 25%;
    left: 0;
    opacity: 0.8;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: white;
    font-size: 8px;
}

.container-two {
    display: flex;
    flex-direction: column;
    width: 325px;
    text-align: start;
    padding-left: 20px;
    padding-top: 60px;
    background-color: #f2efef;
    box-sizing: border-box;
}

p {
    font-size: 12px;
    font-weight: bold;
}

.container-three {
    display: flex;  
    flex-direction: row;
    font-size: 7px;
}

form {
    background-color: white;
    padding-left: 20px;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

legend {
    font-size: 12px;
    font-weight: bold;
}

.first-row,
.second-row {
    display: flex;
    flex-direction: column;
    padding-right: 0 10px;
}
